[include]
  path = .gitconfig.local
[color]
  ui = auto
[push]
  default = upstream
[alias]
  st = status --short --branch
  sh = show
  co = checkout
  df = diff
  co = checkout
[core]
	excludesfile = ~/.gitignore.global
  attributesfile = ~/.gitattributes.global
