[include]
  path = .gitconfig.local
[color]
  ui = auto
[push]
  default = upstream
[alias]
  a  = add
  b  = branch
  c  = commit
  d  = diff
  s  = status --short --branch
  l  = log
  n  = now --all --stat
  st = status --short --branch
  sh = show
  co = checkout
  df = diff
  co = checkout
  cm = commit
  br = branch
[core]
	excludesfile   = ~/.gitignore.global
  attributesfile = ~/.gitattributes.global
